<!DOCTYPE html>
<html>
<head>
  <title>CrmApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "CRM", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">

          <% if user_signed_in? %>
              <li><span>Здравствуйте, <%= "#{current_user.name} #{current_user.surname}" %></span></li>
              <li><%= link_to "Главная", user_root_path %></li>
              <li> <%= link_to 'Моя страница', profile_path %></li>
              <li><%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></li>
          <% else %>
              <li> <%= link_to 'Войти', new_user_session_path %></li><li><%= link_to ' или Зарегистрироваться', new_user_registration_path %> </li>
          <% end %>


        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</div>
</head>

</body>
</html>
